<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228833085719-mp16epm3ekqmljvuav59l8uobsgd77vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228833085719-mp16epm3ekqmljvuav59l8uobsgd77vm</string>
	<key>API_KEY</key>
	<string>AIzaSyDa3z84v6mL6ZQFjImYPDLRd3WXmvFkOYg</string>
	<key>GCM_SENDER_ID</key>
	<string>228833085719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nriavbavishi.SmoothCommerce-Challenge</string>
	<key>PROJECT_ID</key>
	<string>smoothapp-ef3ad</string>
	<key>STORAGE_BUCKET</key>
	<string>smoothapp-ef3ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228833085719:ios:57f9a76e7d9332d67b8f52</string>
	<key>DATABASE_URL</key>
	<string>https://smoothapp-ef3ad.firebaseio.com</string>
</dict>
</plist>